<template name="AddGame">
  {{#contentFor "headerTitle"}}
    <h1 class="title">Add Game</h1>
  {{/contentFor}}
  
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="Home"}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <!-- <button class='getCurrentLocation'>Get my current location</button>-->
     {{#if isLogin}}
     {{> quickForm collection="Games" id="addGameForm" type="insert" omitFields="createAt,createBy" template="ionic"}}
     {{else}}
     To add a game, please login first
     {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>