<template name="GameRoomList">
 
 
  {{#ionView}}
    {{#ionContent class="has-subheader"}}

      {{#ionList}}
        {{#each games}}
          {{#ionItem avatar=true }}
                   
            <img src='https://maps.googleapis.com/maps/api/staticmap?markers={{location.[1]}},{{location.[0]}}&zoom=14&size=100x100&scale=1&key=AIzaSyDMZ6SrSVzgg-hdixhmg5NQSahrN0CVGB4'/>
            <h2>{{name}}</h2>
            <p>descr:&nbsp;{{description}}</p>
            <p>{{drinks}}</p>
            <p>{{createSince createAt}}</p>
           
          {{/ionItem}}
        {{/each}}
      {{/ionList}}
    {{/ionContent}}
  {{/ionView}}
</template>

<!-- AIzaSyDMZ6SrSVzgg-hdixhmg5NQSahrN0CVGB4 -->